################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week1/.vs/Week1/v15
/Week1/HelloGitHub/bin/Debug/netcoreapp2.1
/Week1/HelloGitHub/obj
/Week2/.vs/Week2/v15
/Week2/Week2/obj
/Week1/.vs/Week1/DesignTimeBuild
/Week2/.vs/Week2/DesignTimeBuild
/Week2/LectureExamples/obj
/Week2/DisplayingOutput/bin/Debug/netcoreapp2.1
/Week2/DisplayingOutput/obj
/Week2/ReadingInput/bin/Debug/netcoreapp2.1
/Week2/ReadingInput/obj
/Week2/Arguments/bin/Debug/netcoreapp2.1
/Week2/Arguments/obj
